  <%= form_with(model: strain) do |form| %>
    <% if strain.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

        <ul>
          <% strain.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='border border-muted p-3 rounded'>
      <div class="form-group">
        <%= form.label :Nombre %>
        <%= form.text_field :name, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :Origen %>
        <%= form.text_field :origin, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Guardar', class:'btn colorw btn-block text-white'%>
      </div>
    </div>
  <% end %>