<p id="notice"><%= notice %></p>

<h1>Cepas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Origen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @strains.each do |strain| %>
      <tr>
        <td><%= strain.name %></td>
        <td><%= strain.origin %></td>
        <td><%= link_to 'Editar', edit_strain_path(strain) %></td>
        <td><%= link_to 'Eliminar', strain, method: :delete, data: { confirm: '¿Estás seguro de eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar cepa', new_strain_path %>
