<div class="nested-fields d-flex align-items-center">
    <div class='form-group'>   
        <%= f.label "Cepa" %>
        <%= f.collection_select :strain_id, Strain.all, :id, :name, class:'form-control' %>   
    </div>

    <div class="form-group mx-3">
        <%= f.label "Porcentaje" %>
        <%= f.number_field :percentage %>
    </div>

    <div>
        <%= link_to_remove_association "Eliminar", f %>
    </div>
</div>