<div class=" row nested-fields">
    <div class='col form-group'>   
        <%= f.label "Cepa" %>
        <%= f.collection_select :strain_id, Strain.all, :id, :name, class:'form-control' %>   
    </div>

    <div class='col form-group'>
        <%= f.label "Porcentaje" %>
        <%= f.number_field :percentage, class:'form-group' %>
    </div>
    <div class="col d-flex align-items-center">
        <%= link_to_remove_association "Eliminar", f %>
    </div>
</div>