<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class:'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :wineyard %>
      <%= form.text_field :wineyard, class:'form-control'%>
    </div>

    <div class="form-group">
      <%= form.label :year %>
      <%= form.number_field :year, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label 'calificación' %>
      <%= form.number_field :grade, class: 'form-control' %>
    </div>

    <div>
      <% form.fields_for :blends do |t| %>
        <%= render "blend_fields", :f => t %>
      <% end %>
      <%= link_to_add_association 'Agregar Cepa', form, :blends %> <!-- (*) -->
    </div>
    <br>

    <div>
      <% form.fields_for :experts do |t| %>
        <%= render "expert_fields", :f => t %>
      <% end %>
      <%= link_to_add_association "Agregar evaluador", form, :experts %> <!-- (*) -->
    </div>
    <br>
    <br>

    <div class="actions">
      <%= form.submit 'Guardar', class:'btn color btn-block text-white' %>
    </div>
<% end %>