<p id="notice"><%= notice %></p>
<div class='container'>
  <h1>Vinos</h1>

  <table class='table border border-dark'>
    <thead class='thead-dark'>
      <tr>
        <th scope='col'>Nombre</th>
        <th scope='col'>Viña</th>
        <th scope='col'>Año</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.name %></td>
          <td><%= wine.wineyard %></td>
          <td><%= wine.year %></td>
          <td><%= link_to 'Detalles', wine %></td>
          <td><%= link_to 'Editar', edit_wine_path(wine), class:'text-black-50' %></td>
          <td><%= link_to 'Eliminar', wine, method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' }, class:'text-black-50' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar Vino', new_wine_path %>   |   
  <%= link_to 'Ir a Cepas', strains_path %>
</div>
