<div class='container'>
  <div class='text-right'>
    <% if current_user %>
      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete%>
    <% end %>
    <br>
  </div>
  
  <h1>Vinos</h1>

  <table class='table border border-dark'>
    <thead class='color text-white'>
      <tr>
        <th scope='col' class='align-middle'>Nombre</th>
        <th scope='col' class='align-middle'>Viña</th>
        <th scope='col' class='align-middle'>Año</th>
        <th scope='col' class='align-middle text-center'>Cepas</th>
        <th scope='col' class='align-middle text-center'><p>Calificación <br> (0 -100) </p></th>
        <th scope='col' class='align-middle text-center'>Evaluadores</th>
        <% if current_user.admin?%>
          <th colspan="2"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @wines.each do |wine| %>
        <tr>
          <td class='align-middle'><%= link_to "#{wine.name}", wine_path(wine) %></td>
          <td class='align-middle'><%= wine.wineyard %></td>
          <td class='align-middle'><%= wine.year %></td>
          <td class='align-middle'>
            <ul class='list-group list-group-flush'>
              <% wine.ordered.each do |blend| %>
                <li class='list-group-item border-0'><%= blend[0]%><%= "  (#{blend[1]})"  %></li>
              <% end %>
            </ul>
          </td>
          <td class='align-middle'><%= wine.grade %></td>
          <td class='align-middle'><%= wine.grade %></td>
          
          <% if current_user.admin %>
            <td class='align-middle'><%= link_to 'Editar', edit_wine_path(wine), class:'text-black-50' %></td>
            <td class='align-middle'><%= link_to 'Eliminar', wine, method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' }, class:'text-black-50' %></td>         
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
  <% if current_user.admin? %>
    <%= link_to 'Agregar Vino', new_wine_path %>   |   
    <%= link_to 'Ir a Cepas', strains_path %>    
  <% end %>  

</div>
